# Ignore Python cache
__pycache__/
*.py[cod]
*.pyd
*.so

# Ignore virtual environments
venv*/
env*/
*.egg-info/
.Python

# Ignore large binaries
*.exe
*.dll
*.zip
*.tar.gz
*.whl
*.h5
*.pb

# Jupyter and VSCode artifacts
.ipynb_checkpoints/
.vscode/
.DS_Store
